{
    auto_https off
    log {
        format console
    }
    order cgi before respond
}

charleslanglois.dev {
    redir https://www.{host}{uri}
}

http://www-charleslanglois-dev.fly.dev, 
http://www.charleslanglois.dev {
    root * /srv/www/
    log
    encode zstd gzip
    file_server
    cgi /.well-known/webfinger /usr/local/cgi-bin/webfinger {
        env ROOT=/srv/www
    }
}
