<div id="hcard-Charles-Langlois" class="h-card">
  <img src="{{ $.Site.Params.Hcard.photo }}">
  <div class="info">
    <strong>
      <a class="u-url home" href="{{ $.Site.BaseURL }}" rel="me">
        <span class="p-name">
          <span class="p-given-name">
          {{ $.Site.Params.Hcard.GivenName }}
          </span>
          <span class="p-family-name">
          {{ $.Site.Params.Hcard.FamilyName }}
          </span>
        </span>
      </a>
    </strong>
    <p>
      Currently living in
      <span class="p-locality">{{ $.Site.Params.Hcard.City }}</span>,
      <span class="p-region">{{ $.Site.Params.Hcard.Region }}</span>,
      <span class="p-country-name">{{ $.Site.Params.Hcard.Country }}</span>
    </p>
    <a rel="u-email" href="mailto:{{ $.Site.Params.Hcard.Email }}">{{ $.Site.Params.Hcard.Email }}</a>
  </div>
</div>
