<!--the h-card in the footer is also p-author for h-feed of page -->
<div id="hcard-Charles-Langlois" class="h-card p-author">
  <div class="image-container">
    <img class="u-photo profile-picture" src="{{ $.Site.Params.Hcard.photo }}" alt="Charles Langlois profile picture">
  </div>
  <div class="info">
    <strong>
      <a class="u-url home" href="{{ $.Site.BaseURL }}" rel="me">
        <span class="p-name">
          <span class="p-given-name">
          {{ $.Site.Params.Hcard.GivenName }}
          </span>
          <span class="p-family-name">
          {{ $.Site.Params.Hcard.FamilyName }}
          </span>
        </span>
      </a>
    </strong>
    <p>
      <a class="u-email" href="mailto:{{ $.Site.Params.Hcard.Email }}">{{ $.Site.Params.Hcard.Email }}</a>
    </p>
    <p>
      Currently living in
      <span class="p-locality">{{ $.Site.Params.Hcard.City }}</span>,
      <span class="p-region">{{ $.Site.Params.Hcard.Region }}</span>,
      <span class="p-country-name">{{ $.Site.Params.Hcard.Country }}</span>
    </p>
  </div>
</div>
