{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">c</span><span class="base09">h</span><span class="base0a">a</span><span class="base0b">r</span><span class="base0c">l</span><span class="base0d">e</span><span class="base0e">s</span><span class="base0f">l</span><span class="base10">a</span><span class="base11">n</span><span class="base12">g</span><span class="base13">l</span><span class="base14">o</span><span class="base15">i</span><span class="base16">s</span><span class="base17">.</span><span class="base18">d</span><span class="base19">e</span><span class="base1a">v</span><span class="base05">]</span>
  <span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  <span>Welcome to my corner of the web</span>
</div>
