{{ define "main" }}
  {{ with .Content }}
    <div class="index-content">
      {{ . }}
    </div>
  {{ end }}
  <div class="bookmarks">
    {{ range .Paginator.Pages }}
      <article class="bookmark on-list h-entry">
        <h1 class="bookmark-title p-name">
          {{ with .Params }}
          <a class="bookmark-link u-bookmark-of h-cite" href="{{ .BookmarkUrl }}">
            <i class="fa-solid fa-arrow-up-right-from-square"></i><span>{{ .Title | markdownify }}</span>
          </a>          
          {{ end }}
        </h1>
        <div class="post-meta">
        <a class="permalink u-url" href="{{ .Permalink }}">
          <i class="fa-solid fa-link"></i><span>permalink</span>
        </a>
        {{- if .Date -}}
          <time class="post-date dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05-07:00" }}">
            {{ .Date.Format "2006-01-02" }}
          </time>
          {{- end -}}
        </div>

        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
            #<a class="p-category" href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
              {{- . -}}
            </a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

        {{ partial "cover.html" . }}

          <div class="post-content e-content">
          {{ .Content }}
          </div>

        {{ if not .Params.showFullContent }}
          <div>
            <a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore }} →</a>
          </div>
        {{ end }}
      </article>
    {{ end }}

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
