# fly.toml app configuration file generated for www-charleslanglois-dev on 2024-01-21T22:40:06-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "www-charleslanglois-dev"
primary_region = "yul"

[build]
  build-target = "final"
  [build.args]
    CADDYFILE="fly/staging/Caddyfile"
    ENVIRONMENT="staging"
    HUGO_BASEURL="https://www2.charleslanglois.dev"

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
